.divYear {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px dashed palevioletred; */

    margin: 10px 0;
    width: 100%;
    height: fit-content;
}

.editYear {
    text-align: center;
    background-color: white;

    border-radius: 56px;
    margin: 0 0.5cm;

    font-size: 40px;
    padding: 0 2cm;
    width: 3cm;
    box-shadow: 0 0 3px 0 rgb(14, 14, 14)
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
         -webkit-appearance: none;
}

.yearUpdate {
    height: 2cm;
    width: 2cm;
    background: none;
}

.yearTable {
    display: block;
    min-width: 30cm;
    height: fit-content;

    border-radius: 36px;
    background: #745329;
    padding: 1cm 1.2cm;
    box-shadow: 0 0 3px 1px rgb(14, 14, 14);
}

.actualTable {
    width: 100%;
    border-spacing: 10px 0;
}

.monthRow{
    
}

.monthRow>th {
    width: 5.2cm;
    color: white;
    background-color: #394548;

    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 5px 0px black;
}

.holiDaysRow {
    margin-bottom: 1cm;
    vertical-align: baseline;
}

.holiDaysRow>td {
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 5px 1px rgb(14, 14, 14);
    padding: 0 2px 5px;
}

.divDivider {
    height: 18px;
}

.monthHoliday {
    border: #747474ab solid 1px;
    box-shadow: 0 0 1px 1px rgb(175, 175, 175);
    border-radius: 5px;
    width: 90%;
    margin: 2px 2% 0;
    padding: 1px 5px;
    background-color: white;
    text-wrap: nowrap;
}

.monthHoliday:hover{
    box-shadow: 0 0 3px 2px rgb(175, 175, 175);
    color: #555555;
}
