.boxRegistry {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
    min-height: 100%;
    flex: 80%;
    border-radius: 15px;
    padding: 1cm 0;
    background: #EAA959;
    overflow-y: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.divRegistry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.divRegistryHead {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-bottom: 1.2cm;
    width: 50%;
    color: #000;
    background: #af7c42;
    border-radius: 25px;
}

.logPNG {
    width: 4cm;
    border-radius: 100%;
    padding: 1px;
    background-color: white;
}

.logInput {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1cm;
    padding: 0%;
}

.logInput>h1{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.5vw;
    line-height: 0%;
    font-weight: 400;
    justify-content: left;
    display: flex;
}

.logInput>input {
    width: 22vw;
    height: 1cm;

    border-radius: 15px;
    border: 1px solid #000;
    background: #EEF0F1;
    padding: 5px 10px;
    font-size: 28px;
    color: #414141;
}

.logSubmit {
    display: flex;
    flex-direction: row;
    align-items: right; 
    justify-content: right;
    margin-bottom: 1.2cm;
    width: 80%;
}

.registerBtn {
    height: 1.5cm;
    padding: 2px 1.5cm;
    border-radius: 10px;
    border: 1px black solid;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.registerBtn:hover {
    color: white;
    background-color: #000;
}

.boxInput {
    margin-right: 25px;
}

.boxInput>h1 {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 1.5vw;
    line-height: 0%;
    font-weight: 400;
    justify-content: left;
    display: block;
}
.boxInput>input {
    width: 22vw;
    height: 1cm;

    border-radius: 15px;
    border: 1px solid #000;
    background: #EEF0F1;
    padding: 5px 10px;
    font-size: 28px;
    color: #414141;
}

#bday {
    width: 14vw;
}

#address {
    width: 22vw;
}
#addressv2 {
    width: 30vw;
}

#number {
    width: 18vw;
}

#mail {
    width: 34vw;
}